@charset "EUC-KR";

.scroll-pane {
   -fx-background-color: transparent;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}


.anchor-pane {
   -fx-background-color: transparent;
}

.anchor-pane > .viewport {
   -fx-background-color: transparent;
}


.flow-pane {
   -fx-background-color: transparent;
}

.flow-pane > .viewport {
   -fx-background-color: transparent;
}